<h1>Sign In</h1>
<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="username" placeholder="username">
  <input type="submit" value="Sign In">
</form>
<% if flash[:notice] %>
  <% flash[:notice].each do |note| %>
    <p><%= note %></p>
  <% end %>
<% end %>
